##### LOCAWEB - NAO REMOVER #####
AddHandler php71-script .php
suPHP_ConfigPath /home/photobudgetpesso1/
##### LOCAWEB - NAO REMOVER #####

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /photobudget.pessoal.ws/index.php?url=$1 [QSA,L]




